scenario.blueprint.json
{
    "name": "Registro Automatico de sesiones de sparring",
    "flow": [
        {
            "id": 4,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 248764,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "sparringWebhook"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "codigo",
                "scope": "roundtrip",
                "value": "{{round(random * 10000)}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "codigo",
                        "type": "any",
                        "label": "codigo"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-docs:createADocumentFromTemplate",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 550428
            },
            "mapper": {
                "from": "drive",
                "name": "Bienvenido {{4.nombre}}🥊",
                "image": {},
                "select": "dropdown",
                "document": "/1MgXm2BYhnBAs7o4oXBJP1CCkbToMK5Xf/1ZQ43YRVl5K97AtXIJJJpBKdRF5SmW2sq/1g2seG-I6P25DeyWUuwFOJgkPqCq9NB8GeDJP-W1Yb2U",
                "folderId": "/1MgXm2BYhnBAs7o4oXBJP1CCkbToMK5Xf/1ZQ43YRVl5K97AtXIJJJpBKdRF5SmW2sq/1Z_poPkLYXvf9K3BG6EXRkGkc1WRxcMrM",
                "requests": {
                    "edad": "{{4.edad}}",
                    "peso": "{{4.peso}}",
                    "nombre": "{{4.nombre}}",
                    "codigo_entrada": "ID-{{6.codigo}}",
                    "nivel_experiencia": "{{4.nivel}}"
                },
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "select": {
                            "label": "By Dropdown"
                        },
                        "document": {
                            "path": [
                                "Gratis",
                                "Registro Maratón",
                                " 🥊  Entra al ring - Demuestra tu poder - DOCUMENTO"
                            ]
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Gratis",
                                "Registro Maratón",
                                "Registros"
                            ]
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My GoogleSheet connection (el.chismoso.dragapult@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Create a Document from a Template",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "dropdown"
                            ]
                        }
                    },
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Title",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Choose a Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "document",
                        "type": "file",
                        "label": "Document ID",
                        "required": true
                    },
                    {
                        "name": "requests",
                        "spec": [
                            {
                                "name": "nombre",
                                "type": "any"
                            },
                            {
                                "name": "edad",
                                "type": "any"
                            },
                            {
                                "name": "peso",
                                "type": "any"
                            },
                            {
                                "name": "nivel_experiencia",
                                "type": "any"
                            },
                            {
                                "name": "codigo_entrada",
                                "type": "any"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "kix.60bsmmyyrz1l-t.0",
                                "type": "url",
                                "label": "Tab (Tab 1) - Body: Image No. 1",
                                "metadata": {
                                    "tabId": "t.0"
                                }
                            }
                        ],
                        "type": "collection",
                        "label": "Image URLs"
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Document's Location",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "google-sheets:updateRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 550428
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "1": "ID-{{6.codigo}}"
                },
                "sheetId": "Form responses 1",
                "rowNumber": "{{4.fila}}",
                "spreadsheetId": "/1MgXm2BYhnBAs7o4oXBJP1CCkbToMK5Xf/1ZQ43YRVl5K97AtXIJJJpBKdRF5SmW2sq/13cu4m0Hj6JjtYceHnbxq6L6n9W_3U2ujKs41KR23b2Q",
                "includesHeaders": true,
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Form responses 1"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Gratis",
                                "Registro Maratón",
                                " 🥊  Entra al ring - Demuestra tu poder  - REGISTRO"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Timestamp (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Codigo (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Nombre completo: (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Edad: (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Género: (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Correo electrónico (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Número telefónico: (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Peso: (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Nivel de experiencia: (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "¿Cuentas con equipo propio? (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "Cuéntanos acerca de tus condiciones físicas y médicas relevantes: (K)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My GoogleSheet connection (el.chismoso.dragapult@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "rowNumber",
                        "type": "uinteger",
                        "label": "Row number",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Timestamp (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Codigo (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Nombre completo: (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Edad: (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Género: (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Correo electrónico (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Número telefónico: (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Peso: (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Nivel de experiencia: (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "¿Cuentas con equipo propio? (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Cuéntanos acerca de tus condiciones físicas y médicas relevantes: (K)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "google-drive:getAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 447065
            },
            "mapper": {
                "file": "{{3.id}}",
                "select": "map",
                "formatDrawings": "image/jpeg",
                "formatDocuments": "application/pdf",
                "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "formatDrawings": {
                            "label": "JPEG"
                        },
                        "formatDocuments": {
                            "label": "PDF"
                        },
                        "formatSpreadsheets": {
                            "label": "MS Excel"
                        },
                        "formatPresentations": {
                            "label": "MS PowerPoint"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (el.chismoso.dragapult@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a File ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "formatDocuments",
                        "type": "select",
                        "label": "Convert Google Documents Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.wordprocessingml.document",
                                "application/pdf",
                                "application/vnd.oasis.opendocument.text",
                                "text/html",
                                "text/plain",
                                "application/rtf"
                            ]
                        }
                    },
                    {
                        "name": "formatSpreadsheets",
                        "type": "select",
                        "label": "Convert Google Spreadsheets Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                "application/x-vnd.oasis.opendocument.spreadsheet",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatPresentations",
                        "type": "select",
                        "label": "Convert Google Slides Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "application/vnd.openxmlformats-officedocument.presentationml.presentation",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "formatDrawings",
                        "type": "select",
                        "label": "Convert Google Drawings Files to Format",
                        "required": true,
                        "validate": {
                            "enum": [
                                "image/jpeg",
                                "image/png",
                                "image/svg+xml",
                                "application/pdf"
                            ]
                        }
                    },
                    {
                        "name": "file",
                        "type": "text",
                        "label": "File ID",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 447065,
                "saveAfterSent": false
            },
            "mapper": {
                "cc": [],
                "to": [
                    "{{4.email}}"
                ],
                "bcc": [],
                "from": "",
                "html": "<p>¡Felicidades, guerrero! 🥇 Has asegurado tu lugar en la sesión de sparring. 🔥 El ring está listo para recibirte, pero antes... revisa el documento adjunto</p>\n\n<p>En el documento encontrarás:</p>\n\n<ul>\n  <li>🆔 Tu código de entrada personal para el evento.</li>\n  <li>📜 Reglas generales y lineamientos de seguridad.</li>\n  <li>🗓️ Horario y ubicación para que llegues listo al combate.</li>\n</ul>\n\n<p>🔥 Ajusta tus guantes, afina tu enfoque y prepárate. El ring no espera. ¡Nos vemos pronto! 🥊</p>\n\n<p>– Equipo de Desafía el Ring</p>\n​",
                "sender": "",
                "headers": [],
                "replyTo": "",
                "subject": "🥇 Bienvenido al Ring {{4.nombre}}",
                "priority": "normal",
                "inReplyTo": "",
                "references": [],
                "attachments": [
                    {
                        "cid": "",
                        "data": "{{9.data}}",
                        "fileName": "{{9.name}}"
                    }
                ],
                "contentType": "html"
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "cc": {
                            "mode": "chose"
                        },
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "attachments": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "label": "HTML"
                        }
                    },
                    "parameters": {
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (el.chismoso.dragapult@gmail.com)"
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        },
                        "type": "array",
                        "label": "To",
                        "required": true
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "type": "filename",
                                "label": "File name",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "type": "buffer",
                                "label": "Data",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "type": "text",
                                "label": "Content-ID"
                            }
                        ],
                        "type": "array",
                        "label": "Attachments"
                    },
                    {
                        "name": "cc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Copy recipient"
                    },
                    {
                        "name": "bcc",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        },
                        "type": "array",
                        "label": "Blind copy recipient"
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "spec": {
                            "name": "value",
                            "type": "text",
                            "label": "Reference",
                            "required": true
                        },
                        "type": "array",
                        "label": "References"
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}